
.cards{
	display: flex;
  	flex-wrap: wrap;
	justify-content: space-between;
	h2,  
	h3{
		overflow-wrap: break-word;
		word-wrap: break-word;
		font-size: 1.25rem;
	}
	h3{
		margin-top: 10px;
	}
}

.cards li{
    align-items: center;
    border-radius: $cardBorders;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $mainFont;
    height: 140px;
	margin: 15px;
	min-width: 146px;
    width: calc(20% - 30px);
    position: relative;
    perspective: 800px; 
    text-align: center;
    transform-style: preserve-3d;
}

//card flip styling

.front, .back {
	position: absolute;
	height:100%;
	width:100%;
	transition:all .5s;
	backface-visibility:hidden;  
}

.front {
	@include border($chocolate);
	color: $black;
	background:$cream;
	transform:rotateY(360deg);
}

.back {
	@include border($pumpkinSpice);
	color: transparent;
	background:$cream;
	transform:rotateY(0deg);
}

.nobox{
	visibility: hidden;
}

.inactive{
	background: linear-gradient(45deg, $black, $grey, $cream);
	pointer-events: none;
}

.complete{
	@include border($black);
	display: flex;
	pointer-events: none;
}

.inputFlex{
	display: flex;
	flex-direction: column;
}

    