.appCards{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.cards li{
    color: white;
    font-family: sans-serif;
    // background-color: teal;
    height: 200px;
    margin: 20px;
    width: 200px;
    position: relative;
    perspective: 800px; 
    
}

// --------------------

    .front, .back {
      /* some styling for each card */
      position: absolute;
      height:100%;
      width:100%;
      transition:all 0.5s;
      backface-visibility:hidden;  /*This means that when it is flipped over, we don't see the back */
    }

     .front {
      background:#a08b16; /* green */
    }

    .back {
      background:teal; /*orange */
    //   transform:rotateY(180deg);  /*By Default set the back to be rotate */
    }

    .card:hover .back {
      transform:rotateY(280deg);
    }

    .card:hover .front {
      transform:rotateY(-180deg);
    }

    .nobox{
        visibility: hidden;
    }

    .disabled{
        position: absolute;
      height:100%;
      width:100%;
      pointer-events: none;
    }

    .red{
        //active, clicked, flipped over
        background-color: red;
    }

    .blue{
        //not active, not clickable
        background-color: blue;
        pointer-events: none;
    }

    .complete{
        background-color: green;
        pointer-events: none;
    }

    .green{
        background-color: green;
    }