
.appInput{
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: rgba(63, 0, 0, 0.692);
    height: 50px;
    margin: 20px;
    width: 100%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards li{
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    height: 150px;
    margin: 20px;
    width: calc(20% - 40px);
    position: relative;
    perspective: 800px; 
    text-align: center;
    transform-style: preserve-3d;
}



// --------------------

    .front, .back {
      /* some styling for each card */
      position: absolute;
      height:100%;
      width:100%;
      transition:all .5s;
      backface-visibility:hidden;  /*This means that when it is flipped over, we don't see the back */
    }

     .front {
      color: $black;
      background:$cream;
      border: 5px solid $chocolate;
      transform:rotateY(360deg);
  
    }

    .back {
      color: transparent;
      background:$cream;
      border: 5px solid $pumpkinSpice;
      transform:rotateY(0deg);
    }

    // .card:hover .back {
    //   transform:rotateY(180deg);
    // }

    // .card:hover .front {
    //    transform:rotateY(-180deg)
    // }

    .nobox{
        visibility: hidden;
    }

    .red{
      background-color: red;
    }

    .rightAnswer{
      color: $black;
    }

    .incorrect{
      background-image: url("../assets/cross.png");
      background-repeat: no-repeat; 
      background-position: center center;
      pointer-events: none;
    }

    .correct{
        background-image: url("../assets/checkmark.png");
        background-repeat: no-repeat; 
        background-position: center center;
        pointer-events: none;
        
    }

    .inactive{
        background: linear-gradient(45deg, $black, $grey, $cream);
        pointer-events: none;
    }

    .complete{
        border: 5px solid $black;
        display: flex;
        pointer-events: none;
    }

    .inputFlex{
      display: flex;
      flex-direction: column;
    }