.submitButton,
.reload{
        background-color: $pumpkinSpice;
        border: none;
        color: $black;
        font-family: $mainFont;
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

.submitButton{
    padding: 5px;
}

.reload{
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 20px;
    padding: 20px 30px;
}

@media (max-width: 480px){

    .submitButton{
        font-size: 1rem;
        font-weight: bold;
        padding: 5px;
        width: 250px;
    }   
    
}
