$chocolate: #56453E; 
$mocha: #927F70;
$pumpkinSpice: #E86100; 
$cream: #E8DEC4;
$black: #141414;
$grey: #b8bbbc;

// correct/incorrect
$green: #49b675;
$red: #ab0031;

$mainFont: 'Josefin Sans', sans-serif;
$taglineFont: 'Rum Raisin', sans-serif;

//border styles
$cardBorders: 20px;

//mixins

@mixin h1Styles($size){
    color: $black;
    font-family: $mainFont;
    font-size: $size;
    font-weight: bold;
    letter-spacing: 3px;
}

@mixin instructionStyles($bodySize) {
    font-family: $taglineFont;
    font-size: $bodySize;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
}

@mixin border($color){
    border-color: $color;
    border-style: solid;
    border-width: 5px;
}