$chocolate: #56453E; 
$mocha: #927F70;
$pumpkinSpice: #E86100; 
$cream: #E8DEC4;
$black: #141414;
$grey: #b8bbbc;

// correct/incorrect
$green: #49b675;
$red: #980036;

$h1Font: 'Josefin Sans', sans-serif;
$taglineFont: 'Rum Raisin', sans-serif;

//border styles


$cardBorders: 20px;