//input bar stylings 

.form-flex{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.app-input{
    border: 2px $mocha solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    padding: 0 20px;
    width: 100%;
    .edition-info{
         p{
            @include instructionStyles(1.75rem); 
            color: $cream;
        }
    }
    .edition-info,
    form {
        margin: 0 15px;   
    }
    .score-card{
        justify-self: end;
    }
}

form {
    align-items: center;
    display:flex;
    .user-input{
        margin: 15px;
        padding: 3px;
        position: relative;
        width: 250px;
        &::placeholder{
            font-family: $mainFont;
            font-size: 1.25rem;
        }
    }
}

.score-card{
    @include instructionStyles(1.75rem);
    display: flex;
    h4{
        margin: 0 10px;
        text-transform: uppercase;
    }
    .right-answer{
        color: $green;
    }
    .wrong-answer{
        color: $red;
    }
}

.tagline{
    display: none;  
}

@media (max-width: 1300px){
    
   .app-input{
       .edition-info{
            p{
                font-size: 1.5rem;
            }
        }
        .score-card{
            font-size: 1.5rem;
        }
    }

}

@media (max-width: 1200px){
    
   .app-input{
       .edition-info{
            p{
                font-size: 1.25rem;
            }
        }
        .score-card{
            font-size: 1.5rem;
        }
    }
    form {
        align-items: center;
        display:flex;
        .user-input{
            margin: 5px;
    }

}
@media (max-width: 1100px){
    
   .app-input{
        justify-content: center;
        padding: 15px 20px;
    }   

}
@media (max-width: 900px){
    
   .app-input{
        justify-content: space-around;
      
    }   
   
    .form-flex{
        display: flex;
        flex-direction: column;
    }
 
}

@media (max-width: 767px){

    .app-input{
        flex-direction: column;
    }   

    

}
@media (max-width: 500px){

    .app-input{
        .score-card h4{
            font-size: 1.25rem;
        }
    }   

    .app-input{
        .edition-info{
            text-align: center;
            width: 250px;
            p{
                font-size: 1.25rem;
            }
        }
        .score-card{
            font-size: 1.25rem;
        }
    }

    form{
        flex-direction: column;
        .user-input{
            margin: 0 10px;
            padding: 5px;
            width: 250px;
            &::placeholder{
                font-family: $mainFont;
                font-size: 1.1rem;
            }
        }
    }
    
    .tagline{
        display: block;
    }

}
@media (max-width: 480px){

    .form-flex{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    
}
}