//APP INSTRUCTIONS 
.help{
    background-color: $black;
    border-radius: 50%;
    color: $cream;
    display: inline-block;
    font-size: 3rem;
    margin: 0;
    padding: 5px;
    position: absolute; top: 20px; right: 20px;
    text-shadow: 1px 1px $mocha;
}

.appInstructions{
    @include instructionStyles(2.5rem);
    @include border($pumpkinSpice);
    color: $cream;
    background-color: $black;
    border-radius: $cardBorders;
    display: inline-block;
    padding: 125px 50px;
    position: relative;
    text-shadow: 1px 1px $mocha;
    z-index: 50;
    .closeModal{
        position: absolute;
        right: 30px; top: 30px;
    }
}

.modalOpen{
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    z-index: 40;
}
 

.disableCardsOpen{
    pointer-events: none;
}

//END OF CARDS, RESTART APP
.endMessage {
    @include border($pumpkinSpice);
    background: linear-gradient(90deg, rgba(232, 222, 196, 0.3), rgba(146, 127, 112, 0.7)), url("../assets/coffee-2-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: $cardBorders;   
    padding: 125px 50px;
    h2{
        @include instructionStyles(2.5rem);
        text-shadow: 1px 1px $chocolate;
        span{
            color: $pumpkinSpice;
            text-shadow: 2px 2px $black;
        }
    }
    h3{
        @include instructionStyles(2rem);
        text-shadow: 2px 2px $chocolate;
    }   
    a{
        color: $green;
        text-shadow: 1px 1px $black;
    }
}


// //ALERT - REMEMBER TO FILL IN THE INPUT
// .alert{
//     @include instructionStyles(1.5rem);
//     @include border($chocolate);
//     background-color: $cream;
//     color: $red;
//     border-radius: $cardBorders;
//     display: inline-block;
//     padding: 10px 25px;
//     position: absolute;
//     z-index: 50;
// }

// .closeAlert{
//         position: absolute;
//         right: 10px; top: 10px;
// }

//MEDIA QUERIES

@media (max-width: 1100px){
    .appInstructions{     
        margin: 5%;
        padding: 75px 50px;
    }
}

@media (max-width: 750px){
    .help{
        position: absolute; top: 15px; right: 15px;
    }
}

@media (max-width: 650px){
    .appInstructions{     
        font-size: 1.75rem;
        margin: 10%;
        padding: 50px 25px;
        .closeModal{
            right: 10px; top: 10px;
        }
    }

    .help{
        font-size: 2.3rem;
        position: absolute; top: 5px; right: 5px; 
    }
}


@media (max-width: 480px){

    .help{
        font-size: 2rem;
        padding: 5px;
    }

    .appInstructions{     
        font-size: 1.5rem;
        line-height: 2;
        margin: 0 auto;
        padding: 25px 15px;
        .closeModal{
            right: 10px; top: 10px;
        }
    }
}
@media (max-width: 320px){
    .appInstructions{     
        font-size: 1.5rem;
        height: 50vh;
        line-height: 2;
        
        padding: 25px 15px;
        width: 300px;
        .closeModal{
            right: 10px; top: 10px;
        }
    }
}
