//APP INSTRUCTIONS 
.help{
    background-color: $black;
    border-radius: 50%;
    color: $cream;
    display: inline-block;
    font-size: 3rem;
    margin: 0;
    padding: 5px;
    position: absolute; top: 20px; right: 20px;
    text-shadow: 1px 1px $mocha;
}

.app-instructions{
    @include instructionStyles(2.5rem);
    @include border($pumpkinSpice);
    color: $cream;
    background-color: $black;
    border-radius: $cardBorders;
    display: inline-block;
    padding: 125px 50px;
    position: relative;
    text-shadow: 1px 1px $mocha;
    z-index: 50;
    .close-modal{
        position: absolute;
        right: 30px; top: 30px;
    }
}

.modal-open{
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    z-index: 40;
}
 

.disableCardsOpen{
    pointer-events: none;
}

//END OF CARDS, RESTART APP
.end-message{
    @include border($pumpkinSpice);
    background: linear-gradient(90deg, rgba(232, 222, 196, 0.3), rgba(146, 127, 112, 0.7)), url("../assets/coffee-2-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: $cardBorders;   
    padding: 125px 50px;
    h2{
        @include instructionStyles(2.5rem);
        text-shadow: 1px 1px $chocolate;
        span{
            color: $pumpkinSpice;
            text-shadow: 2px 2px $black;
        }
    }
    h3{
        @include instructionStyles(2rem);
        text-shadow: 2px 2px $chocolate;
    }   
    a{
        color: $pumpkinSpice;
        text-shadow: 1px 1px $black;
    }
}

//MEDIA QUERIES

@media (max-width: 1100px){
    .app-instructions{     
        margin: 5%;
        padding: 75px 50px;
    }
}

@media (max-width: 750px){

    .end-message{
        padding: 75px 50px;
    }

    .help{
        position: absolute; top: 15px; right: 15px;
    }
}

@media (max-width: 650px){
    .app-instructions{     
        font-size: 1.75rem;
        margin: 10%;
        padding: 50px 25px;
        .close-modal{
            right: 10px; top: 10px;
        }
    }

    .help{
        font-size: 2.3rem;
        position: absolute; top: 5px; right: 5px; 
    }

    .end-message{
        padding: 50px 25px;
    }
}


@media (max-width: 480px){

    .help{
        font-size: 2rem;
        padding: 5px;
    }

    .app-instructions{     
        font-size: 1.5rem;
        line-height: 2;
        margin: 0 auto;
        padding: 25px 15px;
        .close-modal{
            right: 10px; top: 10px;
        }
    }
}
@media (max-width: 320px){
    .app-instructions{     
        font-size: 1.5rem;
        line-height: 2;
        padding: 50px 15px;
        width: 300px;
        .close-modal{
            right: 10px; top: 10px;
        }
    }

    .end-message {
        h2{
            @include instructionStyles(1.5rem);
            span{
                text-shadow: 1px 1px $black;
            }
        }
        h3{
            @include instructionStyles(1.25rem);
            text-shadow: 1px 1px $chocolate;
         }   
    }

}
