//App title and tagline

.title{
    text-align: center;
    position: relative;
    h1{
        margin: 25px 0 0;
        a{
        @include h1Styles(4rem);
        text-decoration: none;
        text-shadow: 1px 1px $mocha;
        text-transform: uppercase;
            span{
                font-size: 6rem;
            }   
        }  
    }
    
    p{
        @include instructionStyles(1.8rem);
        color: $black;
        text-shadow: 1px 1px $mocha;
    } 
}

.narrow{
    display: none;
}

@media (max-width: 890px){
    
    .title{
        h1{
            margin: 15px 0 0;
            a{
                font-size: 3rem;
                span{
                    font-size: 5rem;
                }   
            }  
        }
        p{
            font-size: 1.5rem;
        } 
    }
}

@media (max-width: 650px){
    
    .narrow{
        display: block;
    }
}


@media (max-width: 500px){
    
    .title{
        h1{
            margin: 15px 0 0;
            a{
            font-size: 2rem;
                span{
                    font-size: 3rem;
                }   
            }  
        }
        p{
            font-size: 1.25rem;
        } 
    }
    
}