html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 16px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.wrapper {
  margin: 0 auto;
  width: 90%; }

.title {
  text-align: center;
  position: relative; }
  .title h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 25px 0 0;
    text-transform: uppercase; }
    .title h1 span {
      font-size: 6rem; }
  .title p {
    font-family: "Rum Raisin", sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0; }

h2,
h3 {
  font-size: 1.25rem; }

.help {
  color: #E86100;
  display: inline-block;
  font-size: 3rem;
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 20px; }

.disableCardsOpen {
  pointer-events: none; }

.modalOpen {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 40; }

.appInstructions {
  color: #E8DEC4;
  background-color: #141414;
  border: 5px solid #E86100;
  border-radius: 20px;
  font-family: "Rum Raisin", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 1.5;
  display: inline-block;
  padding: 100px 50px;
  z-index: 50; }
  .appInstructions .fas {
    position: relative;
    right: 0;
    bottom: 0; }

.appInput {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(63, 0, 0, 0.692);
  height: 50px;
  margin: 20px;
  width: 100%; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.cards li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: sans-serif;
  height: 150px;
  margin: 20px;
  width: calc(20% - 40px);
  position: relative;
  -webkit-perspective: 800px;
  perspective: 800px;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.front, .back {
  /* some styling for each card */
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*This means that when it is flipped over, we don't see the back */ }

.front {
  color: #141414;
  background: #E8DEC4;
  border: 5px solid #56453E;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg); }

.back {
  color: transparent;
  background: #E8DEC4;
  border: 5px solid #E86100;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.nobox {
  visibility: hidden; }

.red {
  background-color: red; }

.rightAnswer {
  color: #141414; }

.incorrect {
  background-image: url("../assets/cross.png");
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none; }

.correct {
  background-image: url("../assets/checkmark.png");
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none; }

.inactive {
  background: -webkit-linear-gradient(45deg, #141414, #b8bbbc, #E8DEC4);
  background: -o-linear-gradient(45deg, #141414, #b8bbbc, #E8DEC4);
  background: linear-gradient(45deg, #141414, #b8bbbc, #E8DEC4);
  pointer-events: none; }

.complete {
  border: 5px solid #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none; }

.inputFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
